<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AnLoi Task Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="home/img/favicon.png" rel="icon">
  <link href="home/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="home/vendor/aos/aos.css" rel="stylesheet">
  <link href="home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="home/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="home/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="home/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="home/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="home/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="home/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.7.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">ALC.Tasks</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="home/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <!-- <h1>Better Solutions For Your Business</h1> -->
          <!-- <h2>We are team of talented designers making websites with Bootstrap</h2> -->
          <!-- <div class="d-flex justify-content-center justify-content-lg-start"> -->
            <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
          <!-- </div> -->
		  
		  <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <!-- <h2>Phần mềm quản trị doanh nghiệp CNS.NET</h2> -->
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
              <h1>{{'header_menu_login' | translate}}</h1>
              <div [ngClass]="{ 'has-error' : f.submitted && !username.valid }">
                <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
                  required />
                <div *ngIf="f.submitted && !username.valid" class="help-block">{{'error_login_username_required' |
                  translate}}</div>
              </div>
              <div [ngClass]="{ 'has-error' : f.submitted && !password.valid }">
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
                  #password="ngModel" required />
                <div *ngIf="f.submitted && !password.valid" class="help-block">{{'error_login_password_required' |
                  translate}}</div>
              </div>
              <div class="checkbox">
                <label style="display: flex">
                  <input type="checkbox" name="rememberMe" [(ngModel)]="rememberMe"> Nhớ phiên đăng nhập.
                </label>
              </div>
              <div>
                <button [disabled]="loading" class="btn btn-default" href="index.html">{{'login_button' |
                  translate}}</button>
                <img *ngIf="loading"
                  src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a class="reset_pass" href="#">{{'login_forgot_password' | translate}}</a>
              </div>

            </form>
          </section>
        </div>
      </div>
	  
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="home/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Công ty TNHH An Lợi</h4>
            <p>2nd Fl, 27A2 Green Star Building</p>
           
          </div>
        </div>
      </div>
    </div>


    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>anloi.com.vn</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Task Management
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="home/vendor/aos/aos.js"></script>
  <script src="home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="home/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="home/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="home/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="home/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="home/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="home/js/main.js"></script>

</body>

</html>